terraform {
  backend "s3" {
    bucket         = "umccr-terraform-states"
    key            = "beacon_compose/terraform.tfstate"
    region         = "ap-southeast-2"
    dynamodb_table = "terraform-state-lock"
  }
}
